<!DOCTYPE html>

<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        {{>header}}

        <form>
            <input type="text" placeholder="location"/>
            <button>Search</button>
        </form>

        <p class="error" style="color: red;"></p>
        <p class="success" style="color: green;"></p>

        {{>footer}}
        <script src="../../js/script.js"></script>
    </body>
</html>